<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <bean id="MyService"
        class="com.charlie.MyService" />
    <bean id="Controller"
        class="com.charlie.Controller" />
   <bean id="ExampleMain"
        class="com.charlie.ExampleMain" />
    <bean id="Test"
        class="com.charlie.Test" />
     <bean id="Result"
        class="com.charlie.Result" />
     <bean id="Results"
        class="com.charlie.Results" />
    <bean id="Gender"
        class="com.charlie.Gender" />
    <bean id="TestRepository"
        class="com.charlie.TestRepository" />
    <bean id="GenderRepository"
        class="com.charlie.GenderRepository" />
     <bean id="Result"
        class="com.charlie.Result" />
     <bean id="Results"
        class="com.charlie.Results" />

</beans>